body,html {
    background: #f3f3f3;
    box-sizing: border-box;
    font-family: Consolas,"Courier New", monospace;
    }

textarea,input{
    border : none;
    border-radius : 5px;
    padding: .5em;

    resize : vertical;
    }

label{
    font-weight: 900;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    }



button{
    background: blueviolet;
    color: #fff;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight: 900;
    border: none;
    padding: .4em 1.2em;
    font-family: Consolas,"Courier New", monospace;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


    }

button:hover{
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    cursor: pointer;
    }




.title-heading{
    font-size: 3em;
    text-align: center;
    color: lightgreen;

    text-decoration: underline blueviolet;
    }

.wrapper{
    width: 960px;
    margin: 2em auto;
    background: #fff;
    padding: 1em;
    border-radius : 5px;
    }


.title-messages{

    font-weight: 900;
    color: lightgreen;
    font-size: 1.2em;

    display: inline-block;
    margin-right: 3em;

    }

.refresh-btn{

    background: lightgreen;
    box-shadow: none;
    text-decoration: none;


    color: #fff;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight: 900;
    border: none;
    padding: .4em 1.2em;
    font-family: Consolas,"Courier New", monospace;






    }

.input{

    width: 600px;
    margin: 0 auto;
    padding: 1em;

    border-radius: 5px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);

    margin-bottom: 1em;

    }


.message{

    width: 600px;
    margin: 0 auto;
    padding: 1em;

    }

.chatline{
    font-size: 1em;
    color : #737373;
    }

.names{
    font-weight: 900;
    color : blueviolet;
    }

.temps{
    font-size: 0.8em;
    color: #cacaca;
    }

