/*
////////// GENERAL
*/

body,
html {
    box-sizing: border-box;
    margin: 0;

    background: #f3f3f3;

    font-family: Consolas, 'Courier New', monospace;
}

body {
    /*background: #fff linear-gradient(120deg, #00DFD5 0%, #8C51FF 100%);*/
    width: 100%;
}

a {
    text-decoration: none;

    color: inherit;
}

textarea,
input {
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    padding: .71429em 1.14286em;

    resize: vertical;
    vertical-align: middle;

    color: #2f3941;
    border: 1px solid #d8dcde;
    border-radius: 3px;
    background-color: #fff;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.28571;
}

label {
    color: #2f3941;

    font-size: 1em;
    font-weight: 900;
    line-height: 1.5em;
}


/*
////////// LAYOUT
*/

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em;

    border-radius: 5px;
}

.articles {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 4em 1.2em;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .15), 0 10px 10px rgba(0, 0, 0, .12);
}

.article-single-box {
    padding: 0 8em;
}

.article-box {
    display: inline-block;

    max-width: 100%;
    margin: 0 0 2em 0;
}

.article-box-contenu {
    display: inline-block;

    width: 500px;
    padding: 0 1em;

    vertical-align: top;

    font-family: sans-serif;
}

.article-img {
    display: inline-block;

    max-width: 200px;

    vertical-align: top;
}
.message {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;

    border-radius: 5px;
    background: #fff;
}

.subscribe-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;

    border-radius: 5px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, .15), 0 10px 10px rgba(0, 0, 0, .12);
}

.comment-box {
    margin-bottom: .3em;
    padding: .7em;

    border-radius: 5px;
}
/*
////////// OBJECTS
*/

.btn {
    margin: 1em 0;
    padding: .4em 1.2em;

    cursor: pointer;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 25px;
    background: #8c51ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

    font-family: Consolas, 'Courier New', monospace;
    font-size: .9em;
    font-weight: 900;
}

.btn:hover {
    cursor: pointer;

    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.btn-admin {
    background: #ffb723;
}

.btn-admin:before {
    content: '☰ ';
}

.btn-admin:before:hover {
    -moz-transform: rotate(20deg);
         transform: rotate(20deg);
}

.btn-new {
    background: #268cff;
}

.btn-new:before {
    content: '+ ';
}

.btn-back {
    background: #ff273d;
}

.btn-back:before {
    content: '❮ ';
}

.btn:active {
    transform: translateY(2px);
}

.btn-connected {
    background: #78a300;
}

.btn-subscribe {
    background: #00dfd5;
}
/* icons font awesome */
.far {
    font-size: .9em;
}

.alert-1 {
    color: #00dfd5 !important;
}

.alert-2 {
    color: #ff273d !important;
}

.badge {
    margin: 1em 0;
    padding: .4em 1.2em;

    cursor: pointer;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;

    color: #8c51ff;
    border: 2px solid #8c51ff;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

    font-family: Consolas, 'Courier New', monospace;
    font-size: .7em;
    font-weight: 900;
}

.info {
    font-family: Arial , sans-serif;
}

/*
////////// PAGINATION
*/


.pagination {


    width: 200px;

    margin: 2em auto;
    padding: .2em 1em;

    text-align: center;

    color: #fff;
    border-radius: 1em;
    background: #8c51ff;
    line-height: 1.4rem;
    font-weight: 400;
    font-size: 1rem;
}

.pagination-current{
    background: #00dfd5;
    padding: .4rem .7rem;
    border-radius : 50px;
    box-shadow: 0 2px 28px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .12);
}

/*
////////// HOME - ALL POSTS
*/
.articles-title-home {
    margin-top: 0;
    /*text-transform: uppercase;*/

    color: #2f3941;

    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
}

.articles-title {
    margin-bottom: 0;
}
/*
////////// SINGLE POST
*/
.articles-title-single {
    margin: .8em 0 .1em 0;
    /* text-transform: uppercase;*/

    color: #8c51ff;

    font-family: 'Raleway', sans-serif;
    font-size: 4em;
}

.articles-date {
    color: #cacaca;
}

.articles-contenu {
    margin-top: 1em;
    margin-bottom: 1em;

    letter-spacing: .03em;

    color: #4e4e4e;

    font-family: Arial, sans-serif;
}

/*
////////// COMMENTS
*/


.commentaire-titre {
    color: #8c51ff;

    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
}
.commentaire-form {
    color: #2f3941;
}

.commentaire-auteur {
    margin-top: .2em;
    margin-bottom: .1em;

    color: #00dfd5;
}

.chatline {
    color: #737373;

    font-size: 1em;
}

.names {
    color: #8c51ff;

    font-weight: 900;
}

.temps {
    color: #cacaca;

    font-size: .8em;
}

.comment-content {
    margin-top: .5em;
    margin-bottom: .8em;

    font-size: .8em;
}

/*
////////// ADMIN
*/



table {
    border-collapse: collapse;
}

th {
    padding: .2em;
}

td {
    padding-top: 1em;
    padding-bottom: 1em;

    color: #2f3941;
}

.table-btn {
    padding: .2em .5em;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: .2em;
}

.table-see {
    padding: .2em .5em;

    text-align: center;

    color: #8c51ff;
    border-collapse: collapse;
}

.admin-table {
    width: 100%;
    margin: 1em 0;

    border-radius: 5px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, .2);
}

.admin-table-headrow {
    color: hsl(220, 12%, 40%);
    background: hsl(220, 12%, 95%);
}

.admin-table-row {
    border-bottom: 2px solid #d8dcde;
}

.table-title {
    padding: .2em .4em;

    vertical-align: bottom;

    border-collapse: collapse;

    font-size: .7em;
}

.table-btn {
    width: 100%;

    background: #78a300;

    font-size: .9em;
}

.table-btn-suppr {
    color: #ff273d;
    background: none;
}

.table-content {
    padding: .2em .4em;

    vertical-align: bottom;

    border-collapse: collapse;

    font-size: .7em;
}

.table-img {
    padding: .2em .4em;

    vertical-align: bottom;

    border-collapse: collapse;

    font-size: .7em;
}

.table-date {
    padding: .2em .4em;

    vertical-align: middle;

    border-collapse: collapse;

    font-size: .7em;
}

.table-suppr {
    vert-align: middle;
}

.input-title,
.input-cont,
.input-img {
    width: -moz-available;
    margin-bottom: .3em;
    padding: .3em;

    color: hsl(220, 12%, 40%);
    border: none;
    background: hsl(220, 12%, 95%);

    font-size: 1em;
}

/*
////////// LOGIN
*/
.login_box,
.subscribe-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;

    border-bottom: 4px solid rgba(0, 0, 0, .12);
    border-radius: 5px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, .15), 0 10px 10px rgba(0, 0, 0, .12);
}

.subtitle-box {
    color: #2f3941;

    font-size: .8em;
}

/*
////////// SUBSCRIBE
*/

.title-box {
    margin-bottom: .2em;

    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}
